/* Estilo para el cuerpo del formulario */
.Encuestas {
  background-color: #000;
  color: #fcf4f4;
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Estilo para el encabezado */
h1 {
  color: #0ce7f7;
  /* Estilo para el encabezado */
  font-size: 48px; /* Ajusta el tamaño del texto según tu preferencia */
}

/* Estilo para las preguntas */
ol {
  list-style:upper-roman;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

/* Estilo para las opciones */
label {
  display: block;
  margin:auto;
}

input[type="radio"] {
  margin-right: 5px;
}

/* Estilo para los botones de radio no seleccionados */
input[type="radio"] + label {
  background-color: #333;
  color: #d3ff11;
  border: 2px solid #444;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
/* Estilo para los botones de radio seleccionados */
input[type="radio"]:checked + label {
  background-color: #ff9900;
  color: #000;
  border: 2px solid #ff9900;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}


/* Estilo para el botón "Enviar" */
input[type="submit"] {
  background-color: #ff9900;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilo para el botón "Enviar" al pasar el ratón */
input[type="submit"]:hover {
  background-color: #000;
  color: #ff9900;
}

